{% extends 'base.html.twig' %}

{% block sidebar %}
    {% include 'sidebar.html.twig' %}
{% endblock %}

{% block body %}
<style>

</style>

    <div class="row">
        <form action="#" method ="post" class="col-lg-12" id="eval-form">
            <div class="input-group mb-3 col-md-12">
                <div class="input-group-prepend">
                    <span class="input-group-text">Nom de l'activité</span>
                </div>
                <input type="text" class="form-control" aria-label="activity-name" aria-describedby="activity-name">
            </div>

            <div class="w-100"></div>
            <div class="input-group mb-3 col-md-12">
                <div class="input-group-prepend">
                    <span class="input-group-text">Matière /compétence</span>
                </div>
                <input type="text" class="form-control" aria-label="activity-subject" aria-describedby="activity-subject" id="eval-subject" name="eval-subject">
            </div>

            <div class="w-100"></div>
            <div class="input-group mb-3 col-md-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">Date</span>
                </div>
                <input type="text" class="form-control" aria-label="activity-factor" aria-describedby="activity-factor" id="eval-factor" name="eval-factor">
            </div>

            <div class="input-group mb-3 col-md-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">Classe</span>
                </div>
                <input type="text" class="form-control" aria-label="activity-factor" aria-describedby="activity-factor" id="eval-factor" name="eval-factor">
            </div>

            <div class="input-group mb-3 col-md-4">
                <div class="input-group-prepend">
                    <span class="input-group-text">Coefficient</span>
                </div>
                <input type="text" class="form-control" aria-label="activity-factor" aria-describedby="activity-factor" id="eval-factor" name="eval-factor">
            </div>

                <span>Compte pour la prochaine période</span> <input type="checkbox" class="form-check-input">


            <div class="col-lg-12 w-100">
                <input type="submit" value="Créer !" id="create-eval">
            </div>
        </form>
    </div>
{% endblock %}
