{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block sidebar %}
    {% include '_partials/sidebar.html.twig' %}
{% endblock %}

{% block body %}

<div class="example-wrapper">
    Cette partie est vide pour le moment, elle servira de point d'entrée après le login utilisateur.
</div>
{% endblock %}
